## Voltando à tabela salarial

Rode os códigos abaixo, considerando o arquivo TabelaSalarial.csv e responda às perguntas ao final.

In [1]:
import pandas as pd
dados = pd.read_csv('TabelaSalarial.csv')
dados.head()

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Idade (em anos),Região de Procedência
0,1,solteiro,ensino fundamental,NaN,4.00,26,interior
1,2,casado,ensino fundamental,1.0,4.56,32,capital
2,3,casado,ensino fundamental,2.0,5.25,36,capital
3,4,solteiro,ensino médio,NaN,5.73,20,outra
4,5,solteiro,ensino fundamental,NaN,6.26,40,outra

In [2]:
import matplotlib
dados.describe()

               N  N de Filhos  Salario (x Sal Min)  Idade (em anos)
count  36.000000    20.000000            36.000000        36.000000
mean   18.500000     1.650000            11.122222        34.583333
std    10.535654     1.268028             4.587458         6.737422
min     1.000000     0.000000             4.000000        20.000000
25%     9.750000     1.000000             7.552500        30.000000
50%    18.500000     2.000000            10.165000        34.500000
75%    27.250000     2.000000            14.060000        40.000000
max    36.000000     5.000000            23.300000        48.000000

## Perguntas:

1) o que faz o código acima (dados.describe())?

2) Quais informações são apresentadas?

3) Todas as variáveis têm o mesmo número de informações?

4) O que significa a variável "mean" e "std"?

5) Considerando o o máximo, o mínimo, a média e o "std", o que podemos inferir sobre as variáveis nº de filhos, salário e idade?

6) Por que não aparecem as variáveis "Grau de instrução" e "Região de Procedência"?

7) Considerando todas as análises e informações coletadas, a média é um bom indicativo para os dados?

8) Calcule a mediana e a moda dos dados apresentados na saída dados.describe(). Os valores encontrados são próximos à média?

1. O Código (dados.describe()) descreve varias coisas sobre uma tabela, no caso, ele está analisando e descrevendo a TabelaSalarial.csv. Então, cada um dos fatores do describe descreve alguma coisa sobre essa tabela. O Count apresenta a quantidade de informações preenchidas, O Mean apresenta a média de todos juntos, o std é o desvio padrão, min é o valor mínimo, o 25% é o valor de 25% de todos os valores juntos, e o 50% e 75% é a mesma coisa. O max é o valor máximo.

2. As informações apresentadas na tabela é Número de Funcionarios, Estado Civil, Grau de Instituição, n° de filhos, Salario (x Sal min), Idade (Em anos) e Região de procedência. Já no describe são apresentados apenas informações quantitativas, e realiza varias operações e analises com esses valores para dar diversos resultados.

3. Não, pois por exemplo no número de filhos algumas pessoas não deram resposta, logo nem todas as variáveis possuem a mesma quantidade de informações.

4. O Mean apresenta a média de todos juntos, o std é o desvio padrão. Expecificando melhor, o Mean apresenta a soma de todas as informações e em seguida os divide pela quantidade de informações. O Std é baseado pela média, então é calculado o quadrado da distância de cada ponto e a média e em seguida é somado, então esse valor é dividido pelo número de pontos e no final é calculado a raiz quadrada do resultado das demais operações.

5. Pode-se inferir que em questão de n° de filhos, os dados apresentados de Max, Min, Mean e Std são representativos, pois é possivel ter um escopo geral daquele grupo de pessoas. Na questão salarial não é representativa, pois os valores de Max e Min são muito dispersos, fazendo com que a média não seja uma representação boa do grupo de pessoas envolvido. Na questão da idade é representativo, pois mesmo que o max e o min sejam um pouco dispersos entre sí, a média nós mostra que naquele grupo de pessoas tem normalmente pessoas entre 28 e 34 anos, tendo uma variação de 6 anos.

6. Pois essas variáveis são qualitativas, e para realizar operações como média teria que quantificar esses dados de alguma forma.

7. A média por sí só não é um bom indicativo, pois sozinha não é possivel realizar uma analise profunda e acertiva dos dados, necessitando de outras informações, como os valores máximos e minimos, o desvio padrão e outras informações uteis. Quando maior a quantidade de informações dadas mais precisa será a análise.

In [3]:
# Questão 8.
import statistics
medianaFilhos = dados['N de Filhos'].median()
print('mediana de Filhos\n', medianaFilhos)

medianaSal = dados['Salario (x Sal Min)'].median()
print('mediana do Salario\n', medianaSal)

medianaIdade = dados['Idade (em anos)'].median()
print('mediana da idade\n', medianaIdade)

modaFilhos = dados['N de Filhos'].mode().iloc[0]
print('\nModa de Filhos\n', modaFilhos)

modaSal = dados['Salario (x Sal Min)'].mode().iloc[0]
print('Moda de Salario\n', modaSal)

modaIdade = dados['Idade (em anos)'].mode().iloc[0]
print('Moda da idade\n', modaIdade)

mediana de Filhos
 2.0
mediana do Salario
 10.165
mediana da idade
 34.5

Moda de Filhos
 2.0
Moda de Salario
 4.0
Moda da idade
 26